<!DOCTYPE html>
<html>
  <head>
    <title>Badis Meddouri</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Accueil</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:meddouri.badis@gmail.com">email</a></li>
   <li><a href="https://github.com/badismeddouri">Git</a></li>
   </ul>
  </footer>
  </body>

</html>
